<%-include("partials/header")-%>
<div class="text">
<h1><%=heading%></h1>
<p>
  <%=time%>
  </p>
  <p>
    <%=content%>
    </p>
    <p>
      <a href="/delete/<%=heading%>" class="anchor1"> Delete post </a>
      <a href="/edit/<%=heading%>" class="anchor1"> Edit post </a>
      </p>
  </div>

<%-include("partials/footer")-%>
