<%-include("partials/header")-%>
<div class="text">
  <h1>Edit <%=title%></h1>
  <form action="/edit/<%=title%>" method="post">
    <input id="title" type="text" class="form-control title" name="title" value="<%=title%>" autofocus  autocomplete="off">
    <textarea class="form-control blog" rows="5" name="blog" autocomplete="off"><%=content%></textarea>
    <button type="submit" name="btn" class="btn btn-lg btn-primary">Edit</button>
  </form>
</div>
<%-include("partials/footer")-%>
