<%-include("partials/header");-%>

   <div class="text">
     <h1><%=heading%></h1>
     <p>
       <%=content%>
       </p>
     </div>
     <div class='text'>
       <h1>Blogs</h1>
       <% if(blogs.length===0) { %>
         <p>
           No blogs to show. Head over to 'Compose' to start writing your first blog!
           </p>
         <% } else { %>
           <% var i=0; %>
          <% blogs.forEach(function(b) { %>
            <h3 class="bloghead"><%= b.title %> </h3>
            <p class="blogtime">
              <%= b.time %>
              </p>
              <p>
            <%    if(b.blog.length>300) { %>
                <%= b.blog.slice(0,300) %>...
            <%    } else { %>
                  <%=b.blog %>
              <%  } %>


              <a class="anchor1" href="/posts/post-<%=i%>"> Read More</a> 
                <!-- <form class="laura" method="post" action="/posts">
                <button class="read" type="submit" name="read" value=<%=i%>>Read More</button>
                  </form> -->
                  </p>
              <%  i++; %>
              <% }); } %>
       </div>

  <%-include("partials/footer");-%>
